.homePage {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #334B35;
}

.containerBox {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
