.footer {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffa500;
}

.containerBox {
    width: 100%;
    height: 20%;
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.borderBottom {
    border-bottom: 2px solid white;
}

.copyright {
    margin-top: 10px;
}